.SuggestCharacter {
  display: flex;
  background-color: #3f3f44;
  height: 100vh;
}

.SuggestCharacter .suggest-container {
  width: 73%;
  margin: 0.35rem auto;
  background: #f6f6f6;
  overflow-y: auto;
  height: 99vh;
  border-radius: 15px;
}

.SuggestCharacter .suggest-container::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #f6f6f6;
}

.SuggestCharacter .suggest-container::-webkit-scrollbar {
  width: 20px;
  background-color: #f6f6f6;
  border-radius: 0 10px 10px 0;
}

.SuggestCharacter .suggest-container::-webkit-scrollbar-thumb {
  border: none;

  background-color: #3f3f44;
}

.SuggestCharacter .suggest-character-info {
  background: white;
  border-radius: 10px;
  padding: 1rem 2rem;
  font-size: 1.2rem;
}

.SuggestCharacter .suggest {
  width: 60%;
  margin: 0 auto;
  border-radius: 10px;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  margin-top: 2rem;
}

.SuggestCharacter .suggest h2 {
  color: #3f3f44;
  text-transform: uppercase;
  font-size: 2.3rem;
}

.SuggestCharacter .suggest .line {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.SuggestCharacter .suggest span {
  font-weight: bold;
  text-transform: uppercase;
  margin-right: 1rem;
  color: #2b193d;
}

.SuggestCharacter .suggest p {
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
  line-height: 1.8rem;
  color: black;
}

.SuggestCharacter .suggest p span {
  margin-right: 1rem;
  text-transform: uppercase;
  font-weight: bold;
}

.SuggestCharacter .suggest input {
  padding: 0.5rem;
  border: none;
  border-bottom: 1px solid #2b193d;
}

.SuggestCharacter .suggest h2 input {
  color: #3f3f44;
  text-transform: uppercase;
  font-size: 2.3rem;
  margin-bottom: 1rem;
}

.SuggestCharacter .suggest ::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #3f3f44;
  font-family: "Lato", sans-serif;
  opacity: 1; /* Firefox */
}

.SuggestCharacter .suggest :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #3f3f44;
}

.SuggestCharacter .suggest ::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #3f3f44;
}

.SuggestCharacter .suggest-story,
.SuggestCharacter .suggest-review {
  background: white;
  border-radius: 10px;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  margin-top: 2rem;
}

.SuggestCharacter h3 {
  color: #3f3f44;
  text-transform: uppercase;
  font-size: 1.8rem;
  margin-bottom: 2rem;
}

.SuggestCharacter textarea {
  width: 100%;
  border: 1px solid #2b193d;
  padding: 1rem;
  border-radius: 10px;
}

.SuggestCharacter .suggest {
  color: #3f3f44;
}

.SuggestCharacter .title {
  margin-bottom: 2rem !important;
}

.SuggestCharacter button {
  border: none;
  background: #3f3f44;
  color: #b5de9d;
  text-transform: uppercase;
  padding: 0.5rem 2rem;
  border-radius: 10px;
  font-weight: bold;
  font-size: 1.5rem;
  float: right;
  margin-top: 2rem;
}

.SuggestCharacter .chunk select {
  padding: 0.5rem;
  border: none;
  background: transparent;
  border-bottom: 1px solid #3f3f44;
  width: 100% !important;
}

.SuggestCharacter .line select {
  width: 30%;
  padding: 0.5rem;
  border: none;
  background: transparent;
  border-bottom: 1px solid #3f3f44;
}

.SuggestCharacter .chunk {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.SuggestCharacter .group {
  display: flex;
  align-items: center;
}

.SuggestCharacter .group .hover {
  background: #3f3f44;
  border-radius: 50%;
  height: 20px;
  font-size: 0.8rem;
  width: 20px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.SuggestCharacter .tooltip {
  color: white;
  text-transform: none;
  text-align: center;
}

.SuggestCharacter .tooltip p {
  color: white;
  margin-bottom: 0;
  margin-top: 0;
}

.SuggestCharacter .content {
  color: black;
  margin-bottom: 1.5rem;
  background: white;
  padding: 1rem 2rem;
  border-radius: 10px;
}

.SuggestCharacter .content li {
  list-style-type: circle;
}

.SuggestCharacter .content ul {
  padding: 1rem 2rem;
}

.SuggestCharacter .importance-container select {
  width: 100%;
}

.SuggestCharacter .stories {
  margin: 0 auto;
  background: white;
  border-radius: 10px;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
}

.SuggestCharacter .stories h3 {
  color: #3f3f44;
  text-transform: uppercase;
  font-size: 1.8rem;
  margin-bottom: 2rem;
}

.SuggestCharacter .stories a {
  background: #3f3f44;

  color: #b5de9d;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1rem 2rem;
  border-radius: 10px;
  align-self: flex-end;
}

.SuggestCharacter .StoryInfo {
  background: rgba(181, 222, 157, 0.44);
  width: 95%;
  margin: 0 auto;
  padding: 1rem;
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
}

.SuggestCharacter .line {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.8rem;
}

.SuggestCharacter .line:last-of-type {
  margin-bottom: 1.5rem;
}

.SuggestCharacter h4 {
  text-transform: uppercase;
  color: #2b193d;
}

.SuggestCharacter span span {
  font-weight: bold;
  color: #2b193d;
}

.SuggestCharacter p {
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
  line-height: 1.8rem;
}

.SuggestCharacter p span {
  margin-right: 1rem;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: bold;
}

.SuggestCharacter span .to-capitalize {
  text-transform: capitalize;
}

.SuggestCharacter .stories select {
  padding: 0.5rem;
  border: none;
  background: transparent;
  width: 100%;
  border-bottom: 1px solid #2b193d;
}
@media only screen and (max-width: 1400px) {
  .suggest-container .suggest {
    width: 80%;
    padding: 1rem 0;
  }

  .SuggestCharacter .suggest .line {
    align-items: flex-start;
    margin-bottom: 1rem;
    flex-direction: column;
  }

  .SuggestCharacter .suggest h2 input {
    width: 100%;
  }

  .chunk {
    margin-bottom: 1rem;
  }
}

@media only screen and (max-width: 690px) {
  .SuggestCharacter {
    display: flex;
    flex-direction: column;
  }

  .Character {
    display: flex;
    flex-direction: column;
  }
  .SuggestCharacter .suggest-container {
    width: 90%;
  }
}
