.Login {
  display: flex;
  background-color: #3f3f44;
  height: 100vh;
}

.Login .login-container {
  width: 73%;
  margin: 0.35rem auto;
  /* background: #f6f6f6; */
  overflow-y: auto;
  height: 99vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Login .login-container::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #f6f6f6;
}

.Login .login-container::-webkit-scrollbar {
  width: 20px;
  background-color: #f6f6f6;
  border-radius: 0 10px 10px 0;
}

.Login .login-container::-webkit-scrollbar-thumb {
  border: none;

  background-color: #3f3f44;
}

.Login .login-box {
  width: 35%;
  background: white;
  padding: 2rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.Login .login-box h2 {
  color: #3f3f44;
  text-transform: uppercase;
  font-size: 2.3rem;
}

.Login .login-box p {
  line-height: 1.5rem;
  margin-top: 1rem;
}

.Login .login-box form {
  display: flex;
  flex-direction: column;
  margin-top: 1.4rem;
  text-transform: uppercase;
  color: #2b193d;
  font-weight: bold;
}

.Login .login-box form input {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 1rem;
  border: none;
  background: white;
  border-bottom: 1px solid #2b193d;
}

.Login .login-box button {
  /* background: #3f3f44; */
  border: none;
  /* color: #b5de9d; */
  font-weight: bold;
  width: 50%;
  margin: 0 auto;
  padding: 1rem;
  margin-top: 1.3rem;
  border-radius: 10px;
  text-transform: uppercase;
  font-size: 1.3rem;
}

@media only screen and (max-width: 768px) {
  .Login .login-box {
    width: 70%;
  }
}

@media only screen and (max-width: 690px) {
  .Login {
    display: flex;
    flex-direction: column;
  }

  .Login .login-container {
    width: 90%;
  }
}
