.Dashboard {
  display: flex;
  background-color: #67ffb6;
  height: 100vh;
}

.Dashboard .dashboard-container {
  width: 73%;
  margin: 0.35rem auto;
  background: #2b193d;
  overflow-y: auto;
  height: 99vh;
  border-radius: 15px;
}

.Dashboard .dashboard-container::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: white;
}

.Dashboard .dashboard-container::-webkit-scrollbar {
  width: 20px;
  background-color: white;
  border-radius: 0 10px 10px 0;
}

.Dashboard .dashboard-container::-webkit-scrollbar-thumb {
  border: none;

  background-color: #67ffb6;
}

.Dashboard .header {
  width: 60%;
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: block;
}

.Dashboard h2 {
  font-size: 50px;
  line-height: 60px;
  text-transform: uppercase;
  color: #67ffb6;
}

.Dashboard .header a {
  font-weight: bold;
  font-size: 18px;
  line-height: 45px;
  text-transform: uppercase;
  color: #ffffff;
  background: #67ffb6;
  border-radius: 10px;
  text-decoration: none;
  padding: 1rem;
  text-align: center;
}

.Dashboard .toggle-input {
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.Dashboard .toggle-container {
  width: 100%;
}

.Dashboard .toggle-input label {
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
  font-weight: bold;
}

.Dashboard .toggle-input span {
  color: white;
  margin-bottom: 1rem;
}

.Dashboard .toggle-input input {
  margin-right: 1rem;
}

@media only screen and (max-width: 768px) {
  .Stats .big-box {
    flex-direction: column;
    align-items: center;
  }

  .Stats .big-box .stats-box {
    margin-bottom: 2rem;
  }
}

@media only screen and (max-width: 690px) {
  .Dashboard {
    flex-direction: column;
  }

  .Dashboard .dashboard-container {
    width: 90%;
  }

  .Dashboard h2 {
    font-size: 30px;
  }
}
