.ReviewInfo {
  margin-bottom: 1.5rem;
}

.ReviewInfo .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ReviewInfo h4 {
  text-transform: uppercase;
  color: #2b193d;
}

.ReviewInfo a {
  color: white;
  background: none;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0;
  border-radius: 10px;
  align-self: flex-end;
}

.ReviewInfo .buttons-review button {
  padding: 0.5rem;
  margin-top: 0.4rem;
  font-size: 1rem;
  margin-right: 1rem;
}

@media only screen and (max-width: 416px) {
  .ReviewInfo .container {
    flex-direction: column;
  }

  .ReviewInfo .container .content h4 {
    margin-bottom: 0.5rem;
  }
  .ReviewInfo .container .content span {
    margin-bottom: 0.5rem;
  }

  .ReviewInfo a {
    margin-top: 1rem;
    margin-bottom: 1rem;
    align-self: flex-start;
  }
}
