.Results {
  display: flex;
  background-color: #3f3f44;
  height: 100vh;
}

.Results .results-container {
  width: 73%;
  margin: 0.35rem auto;
  /* background: #f6f6f6; */
  overflow-y: auto;
  height: 99vh;
  border-radius: 15px;
}

.Results .result-container::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #f6f6f6;
}

.Results .result-container::-webkit-scrollbar {
  width: 20px;
  background-color: #f6f6f6;
  border-radius: 0 10px 10px 0;
}

.Results .result-container::-webkit-scrollbar-thumb {
  border: none;

  background-color: #3f3f44;
}

.Results .results-container .old form {
  width: 60%;
  margin: 0 auto;
  margin-bottom: 3rem;
  position: relative;
}

.Results .results-container .old form input {
  margin-top: 3rem;
  width: 100%;
  border: none;
  height: 50px;
  border-radius: 10px;
  color: #b5de9d;
  padding-left: 1rem;
}

.Results .results-container .old form button {
  position: absolute;
  top: 48px;
  right: 0;
  border-radius: 0 5px 5px 0;
  background-color: #b5de9d;
  border: none;
  height: 50px;
  width: 75px;
}

.Results::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #bab5b5;
  font-family: "Lato", sans-serif;
  opacity: 1; /* Firefox */
}

.Results:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #bab5b5;
}

.Results::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #bab5b5;
}

.Results .results {
  margin-top: 2rem;
}

.Results .results-container .free-search form {
  width: 60%;
  margin: 0 auto;
  margin-bottom: 1rem;
  position: relative;
}

.Results .results-container .free-search form input {
  margin-top: 3rem;
  width: 100%;
  border: none;
  height: 50px;
  border-radius: 10px;
  color: #b5de9d;
  padding-left: 1rem;
}

.Results .results-container .free-search form button {
  position: absolute;
  top: 48px;
  right: 0;
  border-radius: 0 5px 5px 0;
  background-color: #b5de9d;
  border: none;
  height: 50px;
  width: 75px;
}

.Results .button-container {
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
}

.Results .button-container button {
  color: #b5de9d;
  text-transform: uppercase;
  background-color: #3f3f44;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1rem;
  padding: 0.8rem 2rem;
  text-decoration: none;
}

.Results .count {
  width: 60%;
  margin: 0 auto;
  margin-top: 2rem;
  color: #3f3f44;
  font-weight: bold;
  text-align: right;
}
