.SuggestedCharacters {
  display: flex;
  background-color: #0fefc9;
  height: 100vh;
}

.SuggestedCharacters .suggested-container {
  width: 73%;
  margin: 0.35rem auto;
  background: #2b193d;
  overflow-y: auto;
  height: 99vh;
  border-radius: 15px;
}

.SuggestedCharacters .suggested-container::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: white;
}

.SuggestedCharacters .suggested-container::-webkit-scrollbar {
  width: 20px;
  background-color: white;
  border-radius: 0 10px 10px 0;
}

.SuggestedCharacters .suggested-container::-webkit-scrollbar-thumb {
  border: none;

  background-color: #0fefc9;
}

.SuggestedCharacters .title {
  width: 70%;
  margin: 0 auto;
  margin-top: 3rem;
  color: #0fefc9;
  text-transform: uppercase;
  font-size: 1.8rem;
  margin-bottom: 1rem;
}
