.StoryInfo {
  background: rgba(181, 222, 157, 0.44);
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
  margin-bottom: 1.5rem;
  display: flex;
  padding-right: 2rem;
}

.StoryInfo .line {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.8rem;
}

.StoryInfo .text {
  /* display: flex;
  justify-content: space-between; */
  margin-bottom: 0.8rem;
}

.StoryInfo .line:last-of-type {
  margin-bottom: 1.5rem;
}

.StoryInfo h4 {
  text-transform: uppercase;
  color: #2b193d;
}

.StoryInfo span span {
  font-weight: bold;
  color: #2b193d;
}

.StoryInfo p {
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
  line-height: 1.8rem;
}

.StoryInfo p span {
  margin-right: 1rem;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: bold;
}

.StoryInfo span .to-capitalize {
  text-transform: capitalize;
}

.StoryInfo .buttons-story {
  display: flex;
  justify-content: flex-end;
}

.StoryInfo .buttons-story button {
  margin-left: 1rem;
  padding: 0.5rem;
  font-size: 18px;
}

.StoryInfo img {
  margin-right: 2rem;
  max-width: 250px;
  object-fit: contain;
  align-self: start;
}

.StoryInfo .story-container {
  width: 100%;
}

@media only screen and (max-width: 1410px) {
  .StoryInfo {
    flex-direction: column;
    align-items: center;
  }

  .StoryInfo img {
    margin-right: 0;
    margin-bottom: 1.5rem;
  }

  .StoryInfo .line {
    flex-direction: column;
  }

  .SuggestStory .stories {
    width: 80%;
  }
}

@media only screen and (max-width: 690px) {
  .StoryInfo {
    width: 100%;
    padding-right: 1rem;
  }

  .StoryInfo img {
    width: 100%;
  }

  .StoryInfo .buttons-story {
    flex-direction: column;
    justify-content: center;
  }

  .StoryInfo p {
    display: flex;
    flex-direction: column;
  }
}
