.table {
  width: 80%;
  text-align: left;
  border-spacing: 0 1rem;
  margin: 0 auto;
  overflow-x: auto;
}

.table th:first-of-type {
  padding-left: 2rem;
  text-align: left;
}

.table th {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.25px;
  text-transform: uppercase;
  /* color: #3f3f44; */
  padding: 0 0 1.5rem;
}

.table thead th {
  text-align: center;
}
