.Character {
  display: flex;
  background-color: #3f3f44;
  height: 100vh;
}

.Character .character-container {
  width: 73%;
  margin: 0.35rem auto;
  /* background: #f6f6f6; */
  overflow-y: auto;
  height: 99vh;
  border-radius: 15px;
  padding-bottom: 2rem;
}

.Character .character-container::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #f6f6f6;
}

.Character .character-container::-webkit-scrollbar {
  width: 20px;
  background-color: #f6f6f6;
  border-radius: 0 10px 10px 0;
}

.Character .character-container::-webkit-scrollbar-thumb {
  border: none;
  background-color: #3f3f44;
}

@media only screen and (max-width: 690px) {
  .Character .character-container {
    width: 90%;
  }
}
