.Character {
  display: flex;
  background-color: #67ffb6;
  height: 100vh;
}

.Character .character-container {
  width: 73%;
  margin: 0.35rem auto;
  background: #2b193d;
  overflow-y: auto;
  height: 99vh;
  border-radius: 15px;
}

.Character .character-container::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: white;
}

.Character .character-container::-webkit-scrollbar {
  width: 20px;
  background-color: white;
  border-radius: 0 10px 10px 0;
}

.Character .character-container::-webkit-scrollbar-thumb {
  border: none;
  background-color: #67ffb6;
}

.Character .suggest-character-info {
  background: white;
  border-radius: 10px;
  padding: 1rem 2rem;
  font-size: 1.2rem;
}

.Character .suggest {
  width: 60%;
  margin: 0 auto;
  border-radius: 10px;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  margin-top: 2rem;
}

.Character .suggest h2 {
  color: #67ffb6;
  text-transform: uppercase;
  font-size: 2.3rem;
}

.Character .suggest .line {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.Character .suggest span {
  font-weight: bold;
  text-transform: uppercase;
  margin-right: 1rem;
  color: #2b193d;
}

.Character .suggest p {
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
  line-height: 1.8rem;
}

.Character .suggest p span {
  margin-right: 1rem;
  text-transform: uppercase;
  font-weight: bold;
}

.Character .suggest input {
  padding: 0.5rem;
  border: none;
  border-bottom: 1px solid #2b193d;
}

.Character .suggest h2 input {
  color: #67ffb6;
  text-transform: uppercase;
  font-size: 2.3rem;
  margin-bottom: 1rem;
}

.Character .suggest ::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #67ffb6;
  font-family: "Lato", sans-serif;
  opacity: 1; /* Firefox */
}

.Character .suggest :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #67ffb6;
}

.Character .suggest ::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #67ffb6;
}

.Character .buttons {
  display: flex;
  justify-content: space-between;
}

.Character .buttons-add button {
  border: none;
  background: #67ffb6;
  color: white;
  text-transform: uppercase;
  padding: 0.5rem 2rem;
  border-radius: 10px;
  font-weight: bold;
  font-size: 1.5rem;
  margin-top: 2rem;
}

.Character .title {
  margin-bottom: 2rem !important;
}

.Character textarea {
  width: 100%;
  border: 1px solid #2b193d;
  padding: 1rem;
  border-radius: 10px;
}

@media only screen and (max-width: 768px) {
  .character-container .suggest {
    width: 80%;
    padding: 1rem 0;
  }

  .Character .suggest .line {
    align-items: flex-start;
    margin-bottom: 1rem;
    flex-direction: column;
  }

  .Character .suggest h2 input {
    width: 100%;
  }
}

@media only screen and (max-width: 416px) {
  .Character .character-container {
    width: 90%;
  }

  .Character .buttons {
    flex-direction: column;
  }

  .Character button {
    font-size: 1rem;
    padding: 0.5rem;
  }
}
