.AllCharacters {
  display: flex;
  background-color: #67ffb6;
  height: 100vh;
}

.AllCharacters .all-characters-container {
  width: 73%;
  margin: 0.35rem auto;
  background: #2b193d;
  overflow-y: auto;
  height: 99vh;
  border-radius: 15px;
}

.AllCharacters .all-characters-container::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: white;
}

.AllCharacters .all-characters-container::-webkit-scrollbar {
  width: 20px;
  background-color: white;
  border-radius: 0 10px 10px 0;
}

.AllCharacters .all-characters-container::-webkit-scrollbar-thumb {
  border: none;

  background-color: #67ffb6;
}

.AllCharacters .title {
  width: 70%;
  margin: 0 auto;
  margin-top: 3rem;
  color: #67ffb6;
  text-transform: uppercase;
  font-size: 1.8rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
}

.AllCharacters .title a {
  text-decoration: none;
  padding: 0.5rem;
  font-weight: bold;
  color: white;
  border-radius: 10px;
  background-color: #67ffb6;
}

@media only screen and (max-width: 768px) {
  .AllCharacters .title {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 690px) {
  .AllCharacters {
    display: flex;
    flex-direction: column;
  }

  .AllCharacters .all-characters-container {
    width: 100%;
  }

  .AllCharacters .title a {
    text-align: center;
  }
}
